{
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    },
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "babel-eslint",
    "rules": {
        "comma-dangle": 2,
        "quotes": [2, "double"],
        "space-infix-ops": 2,
        "strict": 2,
        "babel/generator-star-spacing": 1,
        "babel/object-shorthand": 1,
        "babel/arrow-parens": 1,
        "babel/no-await-in-loop": 1,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/react-in-jsx-scope": 2,
        "semi": [2, "always"],
        "new-cap": [2, {
            "capIsNewExceptions": ["List", "Map", "Record", "Set", "OrderedSet"]
        }],
        "no-unused-vars": 2
    },
    "plugins": [
        "babel",
        "react"
    ]
}
