.cursor-pointer {
    cursor: pointer;
}

.inset {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #ffffff;
    border-color: #bbbbbb #dadada #dadada;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-right: 1px solid #dadada;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07) inset, 0 1px 0 #dadada;
    overflow: auto;
    padding: 10px;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}

.nav-tabs-custom >.nav-tabs > li.header > a {
    line-height: 35px;
    padding: 0 10px;
    font-size: 20px;
    color: #444;
}

.btn-box-tool-active {
    border-color: #bbbbbb #dadada #dadada;
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
    border-width: 1px;
}

.btn-app {
    min-width: 70px;
    padding: 10px 10px;
    height: 55px;
}
